.thumbnail-image{
    max-height: 64px;
    max-width: 64px;
    height: auto;
    width: auto;
}

.message-link{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.spark-button-icon{
    max-height: 16px;
    max-width: 16px;
    height: auto;
    width: auto;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dropdown { display: none; }

.message:hover .dropdown, .message.hover .dropdown { display: block; }